openapi: 3.2.0
info:
  title: Eqbuilder Dev Results API
  version: 1.0.0
  description: 'Operations tagged Results across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Results
paths:
  /api/results/{result_id}:
    get:
      summary: Privacy-safe public score result
      description: Canonical opt-in evidence for a settled score, whether it passed or not.
      operationId: get_public_result_api_results__result_id__get
      parameters:
      - name: result_id
        in: path
        required: true
        schema:
          type: string
          title: Result Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Results
components:
  schemas:
    PublicResultBadgeResponse:
      properties:
        label:
          type: string
          title: Label
        text:
          type: string
          title: Text
        evidence_url:
          type: string
          title: Evidence Url
        copyable_markdown:
          type: string
          title: Copyable Markdown
        profile_version:
          type: string
          title: Profile Version
        observed_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Observed At
        certification:
          anyOf:
          - type: string
          - type: 'null'
          title: Certification
      additionalProperties: false
      type: object
      required:
      - label
      - text
      - evidence_url
      - copyable_markdown
      - profile_version
      title: PublicResultBadgeResponse
    PublicResultActionsResponse:
      properties:
        challenge:
          $ref: '#/components/schemas/PublicResultActionResponse'
        run_same_profile:
          $ref: '#/components/schemas/PublicResultActionResponse'
        premium_continuation:
          $ref: '#/components/schemas/PublicResultActionResponse'
      type: object
      required:
      - challenge
      - run_same_profile
      - premium_continuation
      title: PublicResultActionsResponse
    PublicResultActionResponse:
      properties:
        method:
          type: string
          title: Method
        url:
          type: string
          title: Url
        result_ref:
          type: string
          title: Result Ref
        api_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Url
        browser_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Browser Url
        profile:
          anyOf:
          - type: string
          - type: 'null'
          title: Profile
        tier:
          anyOf:
          - type: string
          - type: 'null'
          title: Tier
      additionalProperties: false
      type: object
      required:
      - method
      - url
      - result_ref
      title: PublicResultActionResponse
    PublicResultEvidenceResponse:
      properties:
        kind:
          type: string
          title: Kind
        result_url:
          type: string
          title: Result Url
        privacy:
          type: string
          title: Privacy
      type: object
      required:
      - kind
      - result_url
      - privacy
      title: PublicResultEvidenceResponse
    PublicResultResponse:
      properties:
        result_id:
          type: string
          title: Result Id
        canonical_url:
          type: string
          title: Canonical Url
        observed_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Observed At
        profile:
          $ref: '#/components/schemas/PublicResultProfileResponse'
        score:
          $ref: '#/components/schemas/PublicResultScoreResponse'
        claim:
          type: string
          title: Claim
        freshness:
          $ref: '#/components/schemas/PublicResultFreshnessResponse'
        evidence:
          $ref: '#/components/schemas/PublicResultEvidenceResponse'
        badge:
          $ref: '#/components/schemas/PublicResultBadgeResponse'
        actions:
          $ref: '#/components/schemas/PublicResultActionsResponse'
      type: object
      required:
      - result_id
      - canonical_url
      - profile
      - score
      - claim
      - freshness
      - evidence
      - badge
      - actions
      title: PublicResultResponse
    PublicResultScoreResponse:
      properties:
        percentage:
          type: number
          title: Percentage
        passed_validation:
          type: boolean
          title: Passed Validation
      type: object
      required:
      - percentage
      - passed_validation
      title: PublicResultScoreResponse
    PublicResultProfileResponse:
      properties:
        id:
          type: string
          title: Id
        version:
          type: string
          title: Version
      type: object
      required:
      - id
      - version
      title: PublicResultProfileResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PublicResultFreshnessResponse:
      properties:
        age_seconds:
          anyOf:
          - type: integer
          - type: 'null'
          title: Age Seconds
        stale_after_days:
          type: integer
          title: Stale After Days
        profile_is_current:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Profile Is Current
        status:
          type: string
          title: Status
        checked_at:
          type: string
          title: Checked At
      type: object
      required:
      - stale_after_days
      - status
      - checked_at
      title: PublicResultFreshnessResponse
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
