openapi: 3.2.0
info:
  title: Eqbuilder Dev Score API
  version: 1.0.0
  description: 'Operations tagged Score across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Score
paths:
  /api/score:
    post:
      summary: Score Response
      operationId: score_response_api_score_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Score
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CampaignSource:
      type: string
      enum:
      - livekit-slack
      - langchain-forum
      - reddit-community
      - reddit-ad
      - github-outreach
      - agent-directory
      title: CampaignSource
      description: 'Server-approved outreach markers.


        Keeping this as a small enum prevents source attribution from becoming a

        free-form visitor-tracking store. Add a new value only when a campaign link

        is intentionally approved.'
    ScoreInput:
      properties:
        text:
          type: string
          title: Text
        delay_seconds:
          type: number
          title: Delay Seconds
        profile:
          type: string
          title: Profile
        contact:
          anyOf:
          - type: string
          - type: 'null'
          title: Contact
        data_consent:
          type: boolean
          title: Data Consent
          default: false
        bot_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Bot Role
        model_family:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Family
        applied_suggestion:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Applied Suggestion
        wallet_address:
          anyOf:
          - type: string
          - type: 'null'
          title: Wallet Address
        source:
          anyOf:
          - $ref: '#/components/schemas/CampaignSource'
          - type: 'null'
        result_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Result Ref
      type: object
      required:
      - text
      - delay_seconds
      - profile
      title: ScoreInput
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
