openapi: 3.2.0
info:
  title: Eqbuilder Dev Wishlist API
  version: 1.0.0
  description: 'Operations tagged Wishlist across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Wishlist
paths:
  /api/wishlist:
    post:
      summary: Submit Wishlist
      description: 'Free feedback channel: bots and developers tell us what they need next.

        Capped per caller; junk is silently quarantined like the training corpus.'
      operationId: submit_wishlist_api_wishlist_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WishlistInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Wishlist
components:
  schemas:
    WishlistInput:
      properties:
        need:
          type: string
          title: Need
        audience:
          type: string
          title: Audience
          default: bot
        bot_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Bot Role
      type: object
      required:
      - need
      title: WishlistInput
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
