openapi: 3.2.0
info:
  title: Eqbuilder Dev Outreach API
  version: 1.0.0
  description: 'Operations tagged Outreach across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Outreach
paths:
  /api/outreach/status:
    get:
      summary: Get Outreach Status
      description: Map of lead_id -> done for the Outreach Kit checkboxes (operator-only).
      operationId: get_outreach_status_api_outreach_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Outreach
    post:
      summary: Set Outreach Status
      operationId: set_outreach_status_api_outreach_status_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutreachStatusUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Outreach
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    OutreachStatusUpdate:
      properties:
        lead_id:
          type: string
          title: Lead Id
        done:
          type: boolean
          title: Done
      type: object
      required:
      - lead_id
      - done
      title: OutreachStatusUpdate
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
