openapi: 3.2.0
info:
  title: Eqbuilder Dev Llms.txt API
  version: 1.0.0
  description: 'Operations tagged Llms.txt across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Llms.txt
paths:
  /llms.txt:
    get:
      summary: Llms Txt
      description: llms.txt discovery document for autonomous agents and LLM crawlers.
      operationId: llms_txt_llms_txt_get
      responses:
        '200':
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Llms.txt
  /api/llms.txt:
    get:
      summary: Llms Txt Api
      description: llms.txt also served under the /api prefix for path-routed environments.
      operationId: llms_txt_api_api_llms_txt_get
      responses:
        '200':
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Llms.txt
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
