openapi: 3.2.0
info:
  title: Eqbuilder Dev MCP API
  version: 1.0.0
  description: 'Operations tagged Mcp across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: MCP
paths:
  /api/mcp:
    get:
      summary: Mcp Endpoint Get
      description: GET is only for SSE-stream establishment under Streamable HTTP; we don't offer one.
      operationId: mcp_endpoint_get_api_mcp_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - MCP
    post:
      summary: Mcp Endpoint
      description: Stateless MCP Streamable-HTTP endpoint (JSON-RPC 2.0, JSON response mode).
      operationId: mcp_endpoint_api_mcp_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - MCP
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
