openapi: 3.2.0
info:
  title: Eqbuilder Dev Visits API
  version: 1.0.0
  description: 'Operations tagged Visits across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Visits
paths:
  /api/visits/summary:
    get:
      summary: Visits Summary
      description: 'Daily bot-visit counts by kind (including Storelayer page, menu, feed,

        MCP tool/resource, general discovery, and price probes) plus distinct-caller estimates — so the

        operator can answer "have any bots been on today?" without deployment

        logs. Aggregates only; callers are salted hashes, never raw IPs.


        Scanner classification: hits from known datacenter IP ranges (GCP 34./35.,

        common AWS), method-spray (OPTIONS/DELETE/HEAD), or scanner User-Agents are

        stored with a '':scanner'' kind suffix and an ''s:'' caller-hash prefix. The

        response separates scanner vs real totals so operators can see genuine

        prospects rather than crawler noise.'
      operationId: visits_summary_api_visits_summary_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Visits
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
