openapi: 3.2.0
info:
  title: Eqbuilder Dev Funnel API
  version: 1.0.0
  description: 'Operations tagged Funnel across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Funnel
paths:
  /api/funnel/weekly:
    get:
      summary: Weekly Funnel
      description: 'Operator-only weekly money funnel: free-trial callers (new + active),

        unique paying bots, first-time vs repeat payers, paid sessions and

        revenue split by rail (SOL vs USDC). Weeks are ISO weeks (Monday start),

        oldest-first, always covering the requested window even when a week is

        empty. Revenue is lamports (USDC settlements are stored as their

        lamports equivalent at charge time).'
      operationId: weekly_funnel_api_funnel_weekly_get
      parameters:
      - name: weeks
        in: query
        required: false
        schema:
          type: integer
          maximum: 52
          minimum: 1
          default: 12
          title: Weeks
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Funnel
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
