openapi: 3.2.0
info:
  title: Eqbuilder Dev Leaderboard API
  version: 1.0.0
  description: 'Operations tagged Leaderboard across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Leaderboard
paths:
  /api/leaderboard:
    get:
      summary: Public Leaderboard
      description: 'Public leaderboard: top bots ranked by best EQ score, computed live from

        real settled ledger rows (eq_transactions). Honest aggregates only —

        nothing synthetic. Wallet addresses are truncated for display.

        Optional ?profile= narrows the ranking to sessions scored against that

        benchmark profile (per-category niche leaderboards); the global board is

        unchanged by default. Aggregates are cached briefly per profile

        (single-flight) so unauthenticated traffic cannot repeatedly force

        full-table aggregation.'
      operationId: public_leaderboard_api_leaderboard_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: profile
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Profile
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Leaderboard
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
