openapi: 3.2.0
info:
  title: Eqbuilder Dev Health Capacity API
  version: 1.0.0
  description: 'Operations tagged Health Capacity across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Health Capacity
paths:
  /api/health-capacity:
    get:
      summary: Health Capacity
      description: 'Isolated in-process CPU benchmark for the EQ scoring engine''s string-parsing

        path. Uses only local mock data — no database, no ledger writes, no wallets,

        no network. Safe to run against production without affecting live volume.


        Returns raw throughput metrics for capacity planning.'
      operationId: health_capacity_api_health_capacity_get
      parameters:
      - name: iterations
        in: query
        required: false
        schema:
          type: integer
          maximum: 100000
          minimum: 1
          default: 2000
          title: Iterations
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Health Capacity
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
