openapi: 3.2.0
info:
  title: Eqbuilder Dev Ledger API
  version: 1.0.0
  description: 'Operations tagged Ledger across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Ledger
paths:
  /api/ledger/export:
    get:
      summary: Export Ledger Csv
      description: 'Download the full transaction ledger as a CSV spreadsheet (operator only).

        Streams directly from eq_transactions (single source of truth) — same

        query/columns as the CLI export (export_ledger.py). Optional

        passed_only=true filters to settled (passed) transactions.

        Requires the X-Admin-Token header.'
      operationId: export_ledger_csv_api_ledger_export_get
      parameters:
      - name: passed_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Passed Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Ledger
  /api/ledger:
    get:
      summary: Get Ledger
      operationId: get_ledger_api_ledger_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: bot_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Bot Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Ledger
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
