openapi: 3.2.0
info:
  title: Eqbuilder Dev Rewrite API
  version: 1.0.0
  description: 'Operations tagged Rewrite across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Rewrite
paths:
  /api/rewrite:
    get:
      summary: Rewrite Quote Get
      description: GET on a paid endpoint returns the same 402 challenge the POST would.
      operationId: rewrite_quote_get_api_rewrite_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Rewrite
    post:
      summary: Paid rewrite — your draft reply rewritten to sound human, with before/after…
      description: 'Paid rewrite (priced like the deep tier, payable in SOL or USDC).

        Send your draft reply plus a target profile; get back a deterministic

        rewrite tuned to that profile''s dials, the exact response delay to use,

        and before/after scores proving the improvement. Your draft is never

        stored — only the two aggregate scores.'
      operationId: api_rewrite_api_rewrite_post
      parameters:
      - name: X-PAYMENT
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Payment
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/RewritePayload'
              - type: 'null'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Rewrite
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RewritePayload:
      properties:
        wallet_address:
          type: string
          title: Wallet Address
          default: ''
        tx_hash:
          type: string
          title: Tx Hash
          default: ''
        target_profile:
          type: string
          title: Target Profile
          default: ''
        proposed_text:
          type: string
          title: Proposed Text
          default: ''
        response_delay_seconds:
          type: number
          title: Response Delay Seconds
          default: 0.0
      type: object
      title: RewritePayload
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
