openapi: 3.2.0
info:
  title: Eqbuilder Dev Stress Test API
  version: 1.0.0
  description: 'Operations tagged Stress Test across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Stress Test
paths:
  /api/stress-test:
    get:
      summary: Stress Quote Get
      operationId: stress_quote_get_api_stress_test_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Stress Test
    post:
      summary: Paid multi-profile stress test — one payment, a weakness map across all…
      description: 'One paid run scores your message against every scoreable personality

        profile and returns strongest/weakest matchups plus prompt fixes for the

        worst ones. Priced like the deep tier, payable in SOL or USDC.'
      operationId: api_stress_test_api_stress_test_post
      parameters:
      - name: X-PAYMENT
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Payment
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/StressTestPayload'
              - type: 'null'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Stress Test
components:
  schemas:
    StressTestPayload:
      properties:
        wallet_address:
          anyOf:
          - type: string
          - type: 'null'
          title: Wallet Address
        tx_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Tx Hash
        proposed_text:
          type: string
          title: Proposed Text
          default: ''
        response_delay_seconds:
          type: number
          title: Response Delay Seconds
          default: 0.0
      type: object
      title: StressTestPayload
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
