openapi: 3.2.0
info:
  title: Eqbuilder Dev Training Dataset API
  version: 1.0.0
  description: 'Operations tagged Training Dataset across 2 of this provider''s published API definitions: eqbuilder-dev-openapi-original.json, eqbuilder-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eqbuilder.dev
  description: 'Added by API Evangelist: the published document (https://eqbuilder.dev/openapi.json, byte-identical at /api/openapi.json) declares no servers[]; every path already carries its /api or /.well-known prefix and every URL in the provider''s llms.txt, agent card and x402 catalog resolves against https://eqbuilder.dev, which is also the host that serves the document.'
tags:
- name: Training Dataset
paths:
  /api/training-dataset:
    get:
      summary: Dataset Quote Get
      operationId: dataset_quote_get_api_training_dataset_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Training Dataset
    post:
      summary: Paid export of your wallet's history as fine-tuning-ready records
      description: 'Paid personal dataset export (priced like the deep tier, payable in

        SOL or USDC). The payment itself is the ownership proof — only the

        wallet''s keyholder can pay from that wallet.'
      operationId: api_training_dataset_api_training_dataset_post
      parameters:
      - name: X-PAYMENT
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Payment
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ProgressPayload'
              - type: 'null'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Training Dataset
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ProgressPayload:
      properties:
        wallet_address:
          anyOf:
          - type: string
          - type: 'null'
          title: Wallet Address
        tx_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Tx Hash
      type: object
      title: ProgressPayload
x-refined-from:
- eqbuilder-dev-openapi-original.json
- eqbuilder-dev-openapi.yml
